.hero {
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-color: black;
  border: none;
}
.navbar {
  color: black;
  background-color: black;
  box-shadow: black 0;
  padding-left: 1em;
  padding-right: 1em;
}
.navbar-title {
  font-weight: bolder;
  color: white;
}
.navbar-item {
  color: white;
}
.navbar-burger {
  color: #3273dc
}
.introduction {
  background-color: rgba(50, 50, 50, 0.3);
  padding: 1em;
}
.navbar-menu.is-active {
  background-color: black;
}
.side-note {
  font-size: 75%;
  padding-top: 1em;
}